.hamburger {
    display: flex;
    background-color: rgb(68, 0, 255);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(68, 0, 255);
}
.hamburger div {

    background-color: black;
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;
}
.hamburger:hover > :nth-child(1){
    transform: rotate(-45deg) translate(0,0.6rem);
    transition: 2s;
}
.hamburger:hover > :nth-child(2){
    display: none;
}

.hamburger:hover > :nth-child(3) {
    transform: rotate(45deg) translate(-0.2rem,-0.7rem);
    transition: 2s;
}