.cheeseburger {
    display: flex;
    background-color: rgb(243, 207, 221);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px magenta;
}
.cheeseburger div {
    background-color: black;
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;
}
.cheeseburger div:nth-child(2) {
    background-color: rgb(45, 185, 98);
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;
}
.cheeseburger div:nth-child(3) {
    background-color: rgb(184, 67, 67);
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;
}
/* .cheeseburger div:nth-child(3) {
    display: none;
} */
.cheeseburger:hover div:nth-child(3) {
    display: block;
    transform: rotate(90deg) translate(-0.34rem,1.15rem);
    width: 2.2rem;
    
}
/* .cheeseburger:hover > :nth-child(1){
    transform: rotate(-45deg) translate(0,0.6rem);
    transition: 2s;
} */

.cheeseburger:hover > :nth-child(2){
    transform: rotate(-90deg) translate(-0.34rem,1.15rem);
    width: 2.2rem;
}

.cheeseburger:hover > :nth-child(3) {
    transform: rotate(45deg) translate(-0.2rem,-0.7rem);
    transition: 2s;
}