.tomato-slice {
    width: 3rem;
    height: 3rem;
    display: flex;
    background-color: rgb(241, 177, 158);
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 3px 5px 10px rgb(241, 98, 55);
}
.tomato-slice div:nth-child(1) {
    width: 2.5rem;
    height: 0.2rem;
    background-color: black;
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;

}
.tomato-slice div:nth-child(2) {
    width: 2.5rem;
    height: 0.2rem;
    background-color: rgb(45, 185, 98);
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;
}
.tomato-slice div:nth-child(3) {
    width: 2.5rem;
    height: 0.2rem;
    background-color: rgb(67, 170, 184);
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;
}
.tomato-slice div:nth-child(4) {
    width: 2.5rem;
    height: 0.2rem;
    background-color: rgb(211, 130, 231);
    border-radius: 2px;
    border: 1px rgb(0, 0, 0) solid;
    transition: 2s;
}
.tomato-slice:hover > :nth-child(1){
    transition: 2s;
    transform: rotate(90deg) translate(1rem,-0.05rem);
}



.tomato-slice:hover > :nth-child(2){
    transform: rotate(-45deg) translate(-0.2rem,0.24rem);
    transition: 2s;
}

.tomato-slice:hover > :nth-child(3) {
    transform: rotate(45deg) translate(-0.2rem,-0.3rem);
    transition: 2s;
}
.tomato-slice:hover > :nth-child(4) {
    transform: rotate(0deg) translate(0rem,-1rem);
    transition: 2s;
}
