.wrap-menu {
    display: flex;
    background-color: cornflowerblue;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    margin: 3%;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(58, 20, 228);
}
.wrap-menu div:nth-child(1) {
    background-color: black;
    border-radius: 2px;
    border: 1px black solid;
    transition: 2s;

}
.wrap-menu div:nth-child(2) {
    background-color: rgb(45, 185, 98);
    border-radius: 2px;
    border: 1px black solid;
    /* transition: 2s; */
}
.wrap-menu div:nth-child(3) {
    background-color: rgb(67, 170, 184);
    border-radius: 2px;
    border: 1px black solid;
    /* transition: 2s; */
}
.wrap-menu div:nth-child(4) {
    background-color: rgb(211, 130, 231);
    border-radius: 2px;
    border: 1px rgb(0, 0, 0) solid;
    /* transition: 2s; */
    
}
.wrap-menu:hover > :nth-child(1){
    transition: 2s;
    transform: rotate(90deg) translate(1rem,0rem);
}



.wrap-menu:hover > :nth-child(2){
    transition: 2s;
    transform: rotate(0deg) translate(-0rem,-0.32rem);
    width: 1.25rem;
}

.wrap-menu:hover > :nth-child(3) {
    transform: rotate(0deg) translate(0rem,-0.3rem);
    transition: 2s;
}
.wrap-menu:hover > :nth-child(4) {
    width: 1.25rem;
    transition: 2s;
    transform: rotate(0deg) translate(0rem,-0.3rem)
}
